.player1 {
  margin: 0px;
  padding: 0px;
  width: 600px;
  height: 250px;
  border: 1px rgb(50, 50, 50);
  border-style: ridge;
  position: fixed;
  left: 50%;
  bottom: -18%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.player2 {
    margin: 0px;
    padding: 0px;
    width: 600px;
    height: 250px;
    border: 1px rgb(50, 50, 50);
    border-style: ridge;
    position: fixed;
    left: 50%;
    top: 17%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }